 *{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}


.no-seleccionable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 3;
}


#logo{
    display: flex;
    width: auto;
    font-family: 'Bungee Shade', cursive;
    font-size: 1em;
    color: #ff27ff;
    background-color: #fee31a;
    border-radius: 5px 0px 0px 5px;
    height: 60px;
    align-items: center;
}

#logo:hover{
    
    cursor:pointer;
}


.contenedor-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.lista-navegacion{
    
    display: flex;
    justify-content:flex-end;
    background-color: #fee31a;
    height: 60px;
    align-items: center;
    border-radius: 0 5px 5px 0px;    
    
}

.lista-navegacion li{
    margin:5px;
    color: #00B7DF;
    text-shadow: 1px 1px 2px black;
    
}

.lista-navegacion li:hover{
    color:#2effbd;
    cursor:pointer;
}

.portada{
    position: relative;
    width: 100%;
    height: 80%;
    background-image: url("/img/portada.jpg");
    background-position:top;    
    background-size: cover; 
   
}

.titulo{
    position: relative;
    -moz-transform: rotate(359deg) translate(-20px, 60px) skew(-10deg, 0deg);
    -webkit-transform: rotate(359deg) translate(-20px, 60px) skew(-10deg, 0deg);
    -o-transform: rotate(359deg) translate(-20px, 60px) skew(-10deg, 0deg);
    -ms-transform: rotate(359deg) translate(-20px, 60px) skew(-10deg, 0deg);
    transform: rotate(359deg) translate(-20px, 60px) skew(-10deg, 0deg);    
}

#logotipo{    
    font-family: 'Bungee Shade', cursive;
    color: #ff27ff;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;  
    font-size: 6em;        
}

#subtitulo{    
    font-family: 'Bungee Shade', cursive;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    font-size: 3em; 
    bottom: 50px;  
}

.opacar{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
} 

